img {
    width: 100px;
}

@media (max-width: 767px) { 

    img {
        width: 100px;
    }

    .list {
        display: flex !important;
        
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
    }

}